@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&family=Manrope:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&family=Montserrat:ital,wght@0,300;0,400;0,600;1,400&family=Poppins:ital,wght@0,300;0,400;0,500;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --w: 40rem;
    --h: 40rem;
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;

    --main-bg-color: rgb(232, 237, 234);
  }

  .dark {
    /* --main-bg-color: rgb(8, 237, 234); */

    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-[var(--main-bg-color)] text-foreground font-poppins;
   
  }

  .parent:focus-within {
    @apply ring-1 ring-gray-700 transition-all duration-150;
  }
}
.swiper {
  width: var(--w);
  /* height: var(--h); */
  max-width: calc(100vw - 0.4rem);
  max-height: calc(100vh - 2rem);
  position: relative;
  /* left: 50%; */
  /* top: 50%; */
  /* margin-left: -150px; */
  /* margin-top: calc(calc(100vh - min(calc(100vh - 5rem), var(--h))) / 2); */
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  /* width: 100%;
  height: 100%; */
}
.overlay {
  @apply fixed w-full  -z-30 !h-full inset-0 bg-slate-600/25  opacity-0 pointer-events-none invisible duration-500  transition-all;
}
.overlay.active {
  @apply opacity-100 pointer-events-auto visible z-[10000];
}
.notificationframes {
  animation: notificationframes 2s infinite ;
  animation-delay: 0s;
  /* animation-play-state: paused; */
  @apply lg:left-[calc(min(80rem,100%)/2)] lg:-translate-x-1/2;
}
@keyframes notificationframes {
  from {
    @apply -right-full  bottom-4;
  }
  20%,
  to {
    @apply right-4 bottom-4;
  }
}
@media (min-width: 1024px) {
  @keyframes notificationframes {
    from {
      @apply -top-[8rem] opacity-0;
    
    }
    20%,
    to {
      @apply top-[2rem] opacity-100;
      
    }
  }
}
