@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&family=Manrope:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&family=Montserrat:ital,wght@0,300;0,400;0,600;1,400&family=Poppins:ital,wght@0,300;0,400;0,500;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: #2bcbba;
    --light-color: #d1d8e0;
    --grey-color: #687080;
    --red-color: #ff4757;
    --white-color: #fff;
    --flashwhite-color: #fffeee;
    --dark-color: #212121;
    --scroll-to-width: 0.5rem;
    --scroll-to-height: 0.5rem;
    --w: 40rem;
    --h: 40rem;
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;

    --main-bg-color: rgb(232, 237, 234);
    --color-primary: 267 25% 16%;
  }

  .dark {
    /* --main-bg-color: rgb(8, 237, 234); */

    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {

  * {
    @apply border-border;
  }

  body {
    @apply bg-[var(--main-bg-color)] scrollto text-foreground font-poppins dark:bg-[var(--dark-color)];
  }

  .parent:focus-within {
    @apply ring-1 ring-gray-700 transition-all duration-150;
  }
}

.custom-pagination {
  @apply w-[calc(100%-1rem)] mx-auto max-w-5xl 
}

.custom-pagination .swiper-pagination-bullet {
  @apply w-10 h-2  max-w-[calc(100%-1rem)] hover:bg-colorPrimary bg-gray-300 mx-1 rounded-sm transition duration-300;
}

.custom-pagination .swiper-pagination-bullet-active {
  @apply bg-colorPrimary -translate-y-2;
}

.custom-pagination-image {
  @apply w-8 h-8 mx-1 rounded-full cursor-pointer transition duration-300;
  opacity: 0.5;
}

.custom-pagination-image.swiper-pagination-bullet-active {
  opacity: 1;
  border: 2px solid blue;
}

.custom-button {
  @apply select-none hidden sm:block;
}

.custom-button-prev, .custom-button-next {
  @apply bg-white p-2 rounded-full shadow-lg cursor-pointer transition duration-300;
}

.custom-button-prev:hover,
.custom-button-next:hover {
  @apply bg-gray-200;
}

.scrollto {
  --display: flex;
  /* padding-bottom: 20px; */
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scroll-snap-align: inline mandatory;
}

.scrollto::-webkit-scrollbar {
  width: var(--scroll-to-width);
  height: var(--scroll-to-height);
}

.scrollto::-webkit-scrollbar-thumb {
  --border-color: var(--light-color);
  background-color: var(--border-color);
  border: 2px solid var(--border-color);
  /* border-radius: 20px; */
  border-radius: 9999px;
}

.scrollto:hover::-webkit-scrollbar-thumb {
  background-color: var(--grey-color);
}

.scrollto::-webkit-scrollbar-thumb:hover {
  background-color: var(--grey-color);
}

.swiper {
  width: var(--w);
  /* height: var(--h); */
  max-width: calc(100vw - 0.4rem);
  max-height: calc(100vh - 2rem);
  position: relative;
  /* left: 50%; */
  /* top: 50%; */
  /* margin-left: -150px; */
  /* margin-top: calc(calc(100vh - min(calc(100vh - 5rem), var(--h))) / 2); */
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  /* width: 100%;
  height: 100%; */
}

.overlay {
  @apply fixed w-full -z-30 !h-full inset-0 bg-slate-600/25 opacity-0 pointer-events-none invisible duration-500 transition-all;
}

.overlay.active {
  @apply opacity-100 pointer-events-auto visible z-[10000];
}

.popover:not(:hover) {
  scale: 0.9;
}



@keyframes notificationframes {
  from {
    @apply -right-full bottom-4;
  }

  20%,
  to {
    @apply right-4 bottom-4;
  }
}

@media (min-width: 1024px) {
  @keyframes notificationframes {
    from {
      @apply -top-[8rem] opacity-0;
    }

    20%,
    to {
      @apply top-[2rem] opacity-100;
    }
  }
}

figure.snip1157 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

figure.snip1157 img {
  max-width: 100%;
  vertical-align: middle;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  margin: 40px 0 0 10px;
}

figure.snip1157 blockquote {
  display: block;
  border-radius: 8px;
  position: relative;
  background-color: #fafafa;
  padding: 25px 50px 30px 50px;
  font-size: 0.8em;
  font-weight: 500;
  margin: 0;
  line-height: 1.6em;
  font-style: italic;
}

figure.snip1157 blockquote:before,
figure.snip1157 blockquote:after {
  font-family: "FontAwesome";
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}

figure.snip1157 blockquote:before {
  top: 25px;
  left: 20px;
}

figure.snip1157 blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 0;
}

figure.snip1157 .arrow {
  top: 100%;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #fafafa;
  margin: 0;
  position: absolute;
}

figure.snip1157 .author {
  position: absolute;
  bottom: 45px;
  padding: 0 10px 0 120px;
  margin: 0;
  text-transform: uppercase;
  color: var(--dark-color);
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}

figure.snip1157 .author h5 {
  opacity: 0.8;
  margin: 0;
  font-weight: 800;
}

figure.snip1157 .author h5 span {
  font-weight: 400;
  text-transform: none;
  padding-left: 5px;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}